header ul{
    margin:0;
    padding:0;
}

header li{
    float: left;
    display: inline;
    padding: 0;
    padding-left:3px;
    padding-top:10px;
    padding-bottom:10px;
}

#navbar{
    background-color: rgb(214, 214, 240);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    position: fixed;
    float: right;
    top: 20;
    width: 67%;
    padding-top:40px;
}

#navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration:underline;
}

aside#sidebar{
    float:right;
    width:30%;
    height:100%;
    margin-top:0;
    padding-top:0;
    padding-right:23px;
}

article#main-col{
    float:left;
    width:50%;
    padding-left:60px;
}

#main-title{
    padding-top:30px;
    color: rgb(34, 34, 80);
}

#main{
    padding-top:60px;
}

.slideshow {
    width:30%;
    height:100%;
    box-sizing: border-box;
    position: fixed;
}

.slideshow img {
    position:absolute;
    animation:slideshow 21s infinite;
    opacity:0;
    widows: 25%;
    height:100%;
}

@keyframes slideshow {
    25%{opacity:1;
    }
    45%{
        opacity:0;
    }
}

.slideshow img:nth-child(4){animation-delay:0s;}
.slideshow img:nth-child(1){animation-delay:7s;}
.slideshow img:nth-child(2){animation-delay:14s;}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-whatsapp {
    background: rgb(28, 221, 28);
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

#navbar2{
    background-color: rgb(214, 214, 240);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    position: fixed;
    float: right;
    top: 20;
    width: 100%;
    padding-top:40px;
}

#navbar2 a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#navbar2 a:hover {
    text-decoration:underline;
}

header .current{
    text-decoration: underline;
}

article#main-col2{
    float:center;
    width:50%;
    padding-left:60px;
}

#main-title2{
    padding-top:30px;
    color: rgb(34, 34, 80);
}

#main2{
    padding-top:60px;
}

#main3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
    float:center;
    width:65%;
    padding-left:20px;
}
     
#main-title3{
        margin: 0 auto;
        color: #fff;
        font-size: 60px;
}

#main3{
    {}
    body.sunny {
        background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
    }
    body.cloudy {
        background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
    }
    body.rainy {
        background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
    }
}

#main3a{
    padding-top:10px;
}

#main-title3a{
    padding-top:30px;
    color: rgb(34, 34, 80);
}

.single-blog{
    box-shadow:0px 0px 20px 1px rgba(0,0,0,0.2);
    padding:10px;
    margin-top:30px;
    background-color:#fff;
  }

.single-blog img{
    width:100%;
  }

.blog-meta{
    font-size:14px;
    margin-bottom:2px;
  }

.single-blog span{
    float:right;
    font-size:12px;
    color:grey;
  }

.blog-text{
    font-size:14px;
    text-align:justify;
  }

.single-blog h2{
    margin-top:10px;
    font-size:16px;
    color:black;
  }

.single-blog a{
    text-decoration:none;
  }

.go-back-btn{
    background-image: linear-gradient(to right, #6b0294, #b62ff5);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none! important;
  }

.go-back-btn:hover{
    background-image: linear-gradient(to right, #640037, #b10085);
    text-decoration: none;
    color: #fff;
  }

.go-forward-btn{
    background-image: linear-gradient(to right, #6b0294, #b62ff5);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none! important;
  }

.go-forward-btn:hover{
    background-image: linear-gradient(to right, #640037, #b10085);
    text-decoration: none;
    color: #fff;
  }

.contact-btn{
    background-image: linear-gradient(to right, #029416, #11da76);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #fff;
    border: none! important;
  }

.contact-btn:hover{
    background-image: linear-gradient(to right, #006435, #2fa376);
    text-decoration: none;
    color: #fff;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1600;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  /* Modal Content (Image) */
  
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
  

  /* The Close Button */
  
  .close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #755378;
    text-decoration: none;
    cursor: pointer;
  }

  .modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1600;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  /* Modal Content (Image) */
  
  .modal-content2 {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
  }

  article { width: 80%; }
  @media screen and (min-width: 1441px) { 
      article { width: 65%; }
  }
  @media screen and (max-width: 800px) {
      article { width: 95%; } 
  }
  
  .navbar { width: 80%; }
  @media screen and (min-width: 1441px) { 
      .navbar  { width: 65%; }
  }
  @media screen and (max-width: 800px) {
      .navbar { width: 95%; } 
  }

  .navbar2 { width: 80%; }
  @media screen and (min-width: 1441px) { 
      .navbar2  { width: 65%; }
  }
  @media screen and (max-width: 800px) {
      .navbar2 { width: 95%; } 
  }

  .container { width: 80%; }
  @media screen and (min-width: 1441px) { 
      .container  { width: 65%; }
  }
  @media screen and (max-width: 800px) {
      .container { width: 95%; } 
  }
  